{
  "singleQuote": false,
  "arrowParens": "avoid",
  "tabWidth": 4,
  "semi": true,
  "comments": "always",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
